.vs/

.env/
config/

.vscode/
.idea/
.visualstudio/

dist/
build/
bin/
obj/
Debug/
Release/

logs/
temp/
tmp/
*.cache/

appsettings.json
/TicketAPI/bin
/TicketAPI/obj
/TicketAPI/bin/Debug
/TicketAPI/bin/Debug
